<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/c08e8e6912.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/startpage/startpage.css" />
    <title>Wine Lovers Club</title>
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <a class="current-page" href="/">Startsida</a>
        <a href="/members">Våra medlemmar</a>
        <a href="/register">Bli medlem</a>
      </nav>
    </header>
    <main class="main">
      <div class="text-wrapper">
        <div class="text-box">
          <h1>Wine Lovers Club</h1>
          <p>
            Wine Lovers Club har sedan 2002 fört samman vinälskare från hela
            Sverige. Vi anordnar vinprovningar med några av landets bästa
            sommelierer, och världens bästa viner. Här kan du träffa andra
            vinnördar och dela erfarenheter, kunskaper och vinupplevelser med
            dem.
          </p>
          <a href="/register"
            >Bli medlem <i class="fa-solid fa-chevron-right"></i
          ></a>
        </div>
      </div>
    </main>
    <%- include('footer') %>
  </body>
</html>
